<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="~/ScriptJS.js"></script>
    @*<script src ="~/JS/ScriptTest.js"> </script>*@

</head>
<body>
    <p id="testElement" style="position:absolute">test</p>

</body>
</html>