@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@foreach( var folder in ViewBag.Images)
{
    @*@foreach(var category in ViewBag.Category)
    {
        <h1>@category</h1>*@
        <ul>
            @foreach (var image in folder)
            {
                <li>@image</li>
            }
        </ul>
        
    @*}*@
}